@import url(./base.css);

@import url(./iconfont.css);


@font-face {
    font-family: 'iconfont';  /* project id 1021806 */
    src: url('//at.alicdn.com/t/font_1021806_cobdik0stk8.eot');
    src: url('//at.alicdn.com/t/font_1021806_cobdik0stk8.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1021806_cobdik0stk8.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1021806_cobdik0stk8.woff') format('woff'),
    url('//at.alicdn.com/t/font_1021806_cobdik0stk8.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1021806_cobdik0stk8.svg#iconfont') format('svg');
}